body{
	background: url("../images/background.jpg") no-repeat center center fixed;
	
	background-size: cover;
	
}

.search-container{
	background-color: steelblue;
	width: 100%;
	height: 100%;
	opacity: .6;
	text-align: center;
}

.search-box
{
	background-color: black;
	opacity: .6;
	color: white;
	width: 100%;




}

.search-bar{
display:inline-block;

}

#Auto {
	
}


